/*Начало двенадцатой секции*/
.defence{
    z-index: 99;
    .__text{
        max-width: 79%;
        padding-bottom: 70px;
    }
    .__box{
        display: flex;
        flex-direction: row;
        gap: 80px;
        .__left{
            position: relative;
            &::before {
                content: '';
                position: absolute;
                bottom: -27px;
                left: -25px;
                right: 0;
                width: 116px;
                height: 116px;
                background-image: url(/img/corner1.svg);
                background-size: cover;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: -24px;
                width: 116px;
                height: 116px;
                background-image: url(/img/corner2.svg);
                background-size: cover;
            }
            img{
                padding-top: 35px;
                width: 100%;
                height: auto;
                display: flex;
            }
        }
        .__right{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .__top{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            .__center{
                display: flex;
                flex-direction: row;
                gap: 20px;
                h6{
                    padding-top: 7px;
                }
            }
            .__bottom{
                display: flex;
                flex-direction: row;
                gap: 50px;
                padding-left: 60px;
                .__boxs{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .__boxss{
                        display: flex;
                        flex-direction: row;
                        img{
                            padding-right: 12px;
                        }
                    }
                }
            }
        }
    }
    .box--first{
        position: relative;
        padding-bottom: 140px;
        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: -125px;
            width: 79px;
            height: 472px;
            background-image: url(/img/Trihogramma2.svg);
            background-repeat: no-repeat;
            z-index: 120;
        }
        &::after {
            content: '';
            position: absolute;
            top: -70px;
            right: 84px;
            width: 1050px;
            height: 580px;
            background-image: url(/img/плашка.svg);
            z-index: -1;
        }
    }
    .box--second{
        position: relative;
        padding-bottom: 140px;
        &::before {
            content: '';
            position: absolute;
            top: 0px;
            right: 37px;
            width: 79px;
            height: 472px;
            background-image: url(/img/Zlatoglazka.svg);
            background-repeat: no-repeat;
            z-index: 120;
        }
        &::after {
            content: '';
            position: absolute;
            top: -70px;
            left: -150px;
            width: 1050px;
            height: 580px;
            background-image: url(/img/плашка.svg);
            z-index: -1;
        }
    }
    .box--third{
        position: relative;
        padding-bottom: 90px;
        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: -125px;
            width: 79px;
            height: 424px;
            background-image: url(/img/Gabrobakon.svg);
            background-repeat: no-repeat;
            z-index: 120;
        }
        &::after {
            content: '';
            position: absolute;
            top: -70px;
            right: 84px;
            width: 1050px;
            height: 580px;
            background-image: url(/img/плашка.svg);
            z-index: -1;
        }
    }
}