.header {
	height: 100vh;
	position: relative;
	background-color: #151515;
	color: hsl(0, 0%, 100%);
}

.header a {
	color: #fff;
}
.header__content {
	padding-top: 3px;
	position: relative;
	@media (max-width: 1200px) {

	}
	@media (max-width: 767px) {

	}
}

.header__nav {
	pointer-events: all;
}

.header__socials {
	pointer-events: all;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0%, -50%);

	// background-color: #878787;
	// height: 140px;
	// width: 30px;

	@media (max-width: 767px) {
		display: none;
	}

	@media (max-height: 600px) {
		top: 40%;
	}
}

.header__slider-controls {
	position: absolute;
	pointer-events: all;
	right: 0;
    bottom: 0;
    top: 90vh;
    z-index: 99;

	@media (max-width: 1023px) {
		display: none;
	}
}


